h1 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #2c3622;
  background-color: #FAF3F0;
  margin: 0px;
}

p {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0px 20px;
}

.subtitle {
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 32px;
  background-color: #899772;
}

body {
  background-color: #F2EE9D;
  margin: 0px;
}

.section1 {
  background-color: #C5D8A4;
  width: 700px;
  height: 550px;
  margin: 20px auto;
  border-radius: 30px;
}

.section2 {
  background-color: #C5D8A4;
  width: 700px;
  height: 420px;
  margin: 20px auto;
  border-radius: 30px;
}

.section3 {
  background-color: #C5D8A4;
  width: 700px;
  height: 250px;
  margin: 30px auto;
  border-radius: 30px;
}

.section4 {
  background-color: #C5D8A4;
  width: 700px;
  height: 150px;
  margin: 30px auto;
  border-radius: 30px;
}

.section5 {
  background-color: #C5D8A4;
  width: 700px;
  height: 400px;
  margin: 30px auto;
  border-radius: 30px;
}

.section-marquee {
  background-color: #C5D8A4;
  width: 700px;
  height: 250px;
  margin: 30px auto;
  border-radius: 30px;
  overflow: hidden;
}

.section-control {
  background-color: #C5D8A4;
  width: 700px;
  height: 250px;
  margin: 30px auto;
  border-radius: 30px;
}

.kind {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px; 
  line-height: 75px;
}

.kind1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px; 
  line-height: 75px;
}

.kind2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; 
  line-height: 75px;
}

.box {
  background-color: #FAC70B;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  text-align: center;
  line-height: 75px;
  color: white;
  margin: 10px;
  font-family: 'Noto Sans TC', sans-serif;
}

.marquee-p {
  color: #caa060;
  text-align: center;
  line-height: 75px;
  margin: 5px;
  font-size: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  white-space: nowrap;
}

.marquee-container {
  display: flex;
}

.marquee-box {
  background-color: #caa060;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  margin: 5px;
  display: flex;
}

#box6 {
  background-color: #5A3921;
  margin: 50px;
}

#box7, #box8 {
  background-color: #FAC70B;
  font-family: 'Noto Sans TC', sans-serif;
}

.box-blue {
  background-color: blue;
}

.box-gray {
  background-color: gray;
}

.intro1 {
  line-height: 95px;
  font-family: 'Noto Sans TC', sans-serif;
}

.intro2 {
  line-height: 175px;
  font-family: 'Noto Sans TC', sans-serif;
}

.back {
  width: 200px;
  background-color: #641b1b;
  color: #ebaab7;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #ebaab7;
}

.border-x {
  width: 500px;
  height: 5px;
  background-color: #330d0d;
  /* position: absolute; */
  translate: 100px 70px;
}

.border-y {
  width: 5px;
  height: 330px;
  background-color: #330d0d;
  translate: 350px -90px;
}

#box10 {
  translate: 305px 120px;
  z-index: 10;
  position: relative;
}

.btn-control {
  width: 90px;
  height: 50px;
  background-color: #1b7e78;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #fdfdfd;
  line-height: 50px;
  align-items: center;
  font-size: large;
  border: 0px;
  margin: 5px;
}

.btn-control:hover {
  background-color: #0e504b;
  font-weight: 600;
}

.btn-all {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
}